parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Trait Ameax\\LaravelChangeDetection\\Traits\\InteractsWithHashes is used zero times and is not analysed#'
            path: src/Traits/InteractsWithHashes.php
